body{
    background: darkturquoise;
}
.back a button:hover{
    background: brown;
    color: whitesmoke;
}
.my_information{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow:2px 2px yellow;
}
footer{
    top: 50px;
    background: rgb(221, 165, 60);
    text-align: center;
    width: 105%;
    height: 65px;
  }
.footer-text{
    color: rgb(20, 2, 2);
    text-shadow: 2px 2px rgb(214, 202, 167);
    line-height: 1;
}