body{
    background: rgb(250, 243, 146);
}
.adminstration{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
    background: violet;
}
.back a button:hover{
    color: white;
    background: red;
}