body{
    background: rgb(155, 177, 236);
}
.back a button:hover{
    color: white;
    background: red;
}
.corner{
    color: rgb(29, 43, 25);
    text-shadow: 2px 2px rgb(216, 241, 245);
    text-align: center;
    font-weight: bold;
    font-size: 40px;.
}
.details{
    color: rgb(24, 24, 13);
    text-shadow: 2px 2px white;
    margin-top: 200px;
}
.link{
    text-shadow: 2px 2px white;
    color: rgb(9, 9, 104);
    text-align: center;
    margin-top: 40px;
}
.link a{
    text-decoration: none;
}
.link a button:hover{
    background: red;
    color: seashell;
}
footer{
    margin-top: 170px;
    background: rgb(23, 255, 128);
    width: 100%;
    height: 65px;
    text-align: center;
}
.footer-text{
    color: rgb(206, 15, 15);
    text-shadow: 2px 2px rgb(228, 192, 95);
    line-height: 1;
}
