body {
    background-color: rgb(107, 73, 73);
}

.back a button:hover {
    color: white;
    background: red;
}

.teachers {
    text-align: center;
    text-decoration: none;
    font-size: 60px;
    color: lawngreen;
}

.chairman {
    color: honeydew;
    text-align: center;
}

footer {
    margin-top: 170px;
    background: rgb(25, 99, 93);
    width: 100%;
    height: 65px;
    text-align: center;
}

.footer-text {
    color: rgb(255, 255, 255);
    line-height: 1;
}